{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    written by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    on {{ post.pub_date|dateformat('long') }}
  </p>
  {{ post.body }}
  </div>
{% endmacro %}

{% macro render_blog_post_summary(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    | {{ post.pub_date|dateformat('long') }}
  </p>
  {{ post.summary }}
  </div>

{% endmacro %}

{% macro render_blog_post_with_images(post, from_index=false) %}
{% for post in [
  {'short_title': 'Bioinformatics Algorithms', 'url': '/blog/bioinformatics-algorithms-an-introduction/', 'title': 'Bioinformatics Algorithms - an introduction', 'description': '“Three profoundly destabilizing scientific ideas ricochet through the twentieth century, trisecting it into three unequal parts: the atom, the byte, the gene.”', 'image': 'bioinformatics-algorithms.png', 'alt': 'Bioinformatics Algorithms'},
  {'short_title': 'DynamoDB on AWS SAM', 'url': '/blog/dynamodb-on-aws-sam/', 'title': 'Connect a Serverless AWS SAM application to DynamoDB', 'description': 'Resources on getting DynamoDB to work with your Serverless application.', 'image': 'dynamodb-using-aws-sam.png', 'alt': 'DynamoDB on AWS SAM'},
  {'short_title': 'Rapid prototyping a REST API', 'url': '/blog/rapid-prototyping-a-rest-api/', 'title': 'Rapid prototyping a REST API with json-server', 'description': 'Sometimes we need a full fake REST API to prototype new products and mock new functionalities. The json-server package provides a quick and easy way to do that.', 'image': 'Rapid-prototyping-a-REST-API-with-json-server.png', 'alt': 'json-server example'},
  {'short_title': 'How to lie with Statistics', 'url': '/blog/how-to-lie-with-statistics/', 'title': 'How to lie with Statistics', 'description': 'Be careful when you read news about "average wage". As we learn from the classic book How to Lie with Statistics, there are different types of averages and their different meanings can be used to mislead and deceive.', 'image': 'how-to-lie-with-statistics-on-python.png', 'alt': 'Normal distribution curve, representing Statistics'},
  {'short_title': 'JAMStack on modern web', 'url': '/blog/jamstack-static-websites-on-modern-web/', 'title': 'JAM Stack: HTML/CSS/JS static websites on modern web', 'description': 'JavaScript in the browser as the runtime; Reusable HTTP APIs rather than app-specific databases; Prebuilt markup as the delivery mechanism.', 'image': 'jamstack-html-css-javascript-statics-on-modern-web.png', 'alt': 'Image of HTML, CSS and Javascript books' },
  {'short_title': 'Build Serverless with SAM', 'url': '/blog/build-a-serverless-python-api-using-aws-sam/', 'title': 'Build a Serverless Python API using AWS SAM', 'description': 'Serverless architecture is becoming more and more popular: Amazon launched AWS Lambda, Microsoft has Azure Functions and Google has Cloud Functions. Now not only can you stop worrying about manually provisioning, managing and upgrading servers, but also pay only for what you use.', 'image': 'build-a-serverless-python-api-using-aws-sam.png', 'alt': 'AWS SAM Logo' },
] %}
<!-- {'short_title': 'Python for Finance', 'url': '/blog/python-for-finance/', 'title': 'Python for Finance', 'description': 'Here are some resources that are helping me on this journey.', 'image': 'python-for-finance-share.png', 'alt': 'Image of Wall Street'}, -->
<!-- {'short_title': 'Markowitz Efficient Frontier', 'url': '/blog/markowitz-efficient-frontier-introduction-with-python/', 'title': 'Drawing Markowitz Efficient Frontier with Python', 'description': 'Learning how to discover the set of optimal portfolions in Python', 'image': 'markowitz-python.png', 'alt': 'Image of a man in front of a screen studying the stock market'}, -->

{% endfor %}
<article class="blog-post">
  <a href="{{ post.url }}" class="image"><img width="300px" data-src="{{ post.image }}" class="lazyload" alt="{{ post.title }}" /></a>
  <h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
  <p>{{ post.description }}</p>
  <!--<ul class="actions">
          <li><a title="{{ post.title }}" href="{{ post.url }}" class="button">{{ post.short_title }}</a></li>
  </ul>-->
</article>
<!--
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    | {{ post.pub_date|dateformat('long') }}
  </p>
  {{ post.summary }}
  </div>
-->

{% endmacro %}
