{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    written by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    on {{ post.pub_date|dateformat('long') }}
  </p>
  {{ post.body }}
  </div>
{% endmacro %}

{% macro render_blog_post_summary(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    | {{ post.pub_date|dateformat('long') }}
  </p>
  {{ post.summary }}
  </div>

{% endmacro %}

{% macro render_blog_post_grid(post, from_index=false) %}
  <article class="blog-post">
    <a href="{{ post.url }}" class="image"><img width="300px" data-src="{{ post.image }}" class="lazyload" alt="{{ post.title }}" /></a>
    <h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
    <h6 class="meta"><a href="https://twitter.com/{{ post.twitter_handle }}">{{ post.author or post.twitter_handle }}</a> | {{ post.pub_date|dateformat('long') }}</h6>
    <p>{{ post.description }}</p>

  </article>
{% endmacro %}
