{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }} - Guido Luz Percú Blog{% endblock %}

{% block meta %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@oumguido" />
<!--<meta property="og:url" content="{{ ''|url }}" />-->
<meta property="og:title" content="{{ this.title }}" />
<meta property="og:description" content="{{ this.description }}" />
<meta property="og:image" content="{{ this.image }}" />
{% endblock %}

{% block body %}
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "NewsArticle",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://google.com/article"
          },
          "headline": "{{ this.title }}",
          "image": "{{ this.image }}",
          "datePublished": "{{ this.pub_date|dateformat('long') }}",
          "dateModified": "{{ this.pub_date|dateformat('long') }}",
          "author": {
            "@type": "Person",
            "name": "Guido Percú"
          }
        }
</script>
<section id="one" class="main special">
        <div class="container">
                <div class="content">
                        {{ render_blog_post(this) }}
                </div>
                <div class="comments">
                        {{ render_disqus_comments() }}
                </div>
        </div>
</section>

{% endblock %}
