{% extends "layout.html" %}
{% block title %}{{ this.title }} - Guido Luz Percú{% endblock %}
{% block body %}
<section id="one" class="main special">
        <div class="container">
                <div class="content">
                        <header itemscope itemtype="http://schema.org/Person">
                                <h1>{{ this.title }}</h1>
                        </header>
                        <hr>
                        <p><a href="http://www.github.com/GuidoBR/">My Github</a></p>
                        <p> {{ this.body }} </p>

                        <ul>
                          <li><a href="http://www.guidopercu.com.br/playlist-ciencia/">Playlist Ciência</a> | <a href="https://github.com/guidobr/playlist-ciencia"> Github </a></li>
                          <li><a href="https://github.com/GuidoBR/skoober">Skoober</a> | <a href="https://github.com/GuidoBR/skoober"> Github </a></li>
                          <li><a href="https://github.com/GuidoBR/just-another-wordpress-theme-child">Just Another Wordpress Theme - Child</a> | <a href="https://github.com/GuidoBR/just-another-wordpress-theme-child">Github</a></li>
                          <li><a href="https://github.com/GuidoBR/bullybot">Bullybot</a> | <a href="https://github.com/GuidoBR/bullybot">Github</a></li>
                        </ul>
                </div>

        </div>
</section>
{% endblock %}
