{% extends "layout.html" %}
{% block title %}Reading List - Guido Luz Percú{% endblock %}
{% block body %}
<style>
article { width: 100% !important; }        
.bookshelf { margin: 2rem auto; text-align: center; position: relative; }
.book-grid { z-index: 2; position: relative; -webkit-transform: translateY(-15px); transform: translateY(-15px); }
.book-grid ul { list-style: none; padding: 0; margin: 0; display: grid; grid-template-columns: repeat(5, 1fr); }
.book-grid ul li {  padding-left: 1.5em; }
.book-grid ul img { display: block; box-shadow: 0px -5px 20px 2px rgba(0, 0, 0, 0.3); width: 200px; height: 300px; -o-object-fit: cover; object-fit: cover; }
.shelf-shadows { position: absolute; bottom: 0; left: 0; width: 100%; height: 1rem; border-radius: 2px; z-index: 1;
  box-shadow: 0px -5px 3px 0px rgba(170, 170, 170, 0.2), 0px 15px 20px 0px rgba(170, 170, 170, 0.7), 0px 5px 5px 0px rgba(119, 119, 119, 0.3);
}
.shelf { position: absolute; bottom: 0; left: 0; width: 100%; height: 1rem; background-color: #f9f9f9; border-radius: 2px; z-index: 3; }
@media screen and (max-width: 1024px) {
        .book-grid ul { grid-template-columns: repeat(3, 1fr); }
        .book-grid ul li {  padding-left: 1.0em; }
}

@media screen and (max-width: 800px) {
        .book-grid ul { grid-template-columns: repeat(1, 1fr); }
        .book-grid ul li {  padding-bottom: 1.5em; }
        .shelf-shadows, .shelf { display: none;}
        article { margin-bottom: 0 !important; }
}
</style>
<section>
        <div class="features">
                <article>
                        <div class="bookshelf">
                                <div class="book-grid">
                                        <ul>
                                        {% for book in [
                                                {'image': 'book-how-democracies-die.jpg','title': 'How Democracies Die', 'url': 'https://www.amazon.com/How-Democracies-Die-Steven-Levitsky-ebook/dp/B071L5C5HG/'},
                                                {'image': 'book-elastic.jpg','title': 'Elastic', 'url': 'https://www.amazon.com/Elastic-Flexible-Thinking-Time-Change-ebook/dp/B06X17WVGR/'},
                                                {'image': 'book-mere-christianism.jpg','title': 'Mere Christianism', 'url': 'https://www.amazon.com/gp/product/B002BD2UR0/'},
                                                {'image': 'book-astronaut.jpg','title': 'An Astronaut\'s Guide to Life on Earth', 'url': 'https://www.amazon.com/Astronauts-Guide-Life-Earth/dp/B00G9EPB1E/', 'notes': "https://twitter.com/oUmGuido/status/1227702268063100929"},
                                                {'image': 'book-flush.jpg','title': 'Flush: A Biography', 'url': 'https://www.amazon.com/dp/B08CBL6QY4/'},
                                        ] %}
                                        
                                                <li>
                                                <a href="{{ book.url }}">
                                                        <img src="/static/images/{{ book.image }}" alt="{{ book.title }}" class="book-image">
                                                </a>
                                                </li>
                                        {% endfor %}
                                        </ul>
                                </div>
                        </div>
                        <div class="shelf-shadows"></div>
                        <div class="shelf"></div>
                </article>
                <article>
                        <div class="bookshelf">
                                <div class="book-grid">
                                        <ul>
                                        {% for book in [
                                                {'image': 'book-meditations.jpg', 'title': 'Meditations','url': 'https://www.amazon.com/Meditations-New-Translation-Modern-Library-ebook/dp/B000FC1JAI/',"notes": "https://twitter.com/oUmGuido/status/1256593809250627584"},
                                                {'image': 'book-jamstack.png', 'title': 'Modern Web Development on the JAMstack', 'url': 'https://www.netlify.com/oreilly-jamstack/', 'notes': 'blog/jamstack-static-websites-on-modern-web/'},
                                                {'image': 'book-accelerate.jpg','title': 'Accelerate: The Science of Lean Software and DevOps', 'url': 'https://www.amazon.com/Accelerate-Software-Performing-Technology-Organizations-ebook/dp/B07B9F83WM/',},
                                                {'image': 'book-global-economic-history.jpg','title': 'Global Economic History: A Very Short Introduction - Robert C. Allen', 'url': 'https://www.amazon.com/Global-Economic-History-Introduction-Introductions-ebook-dp-B005JC0QNA/dp/B005JC0QNA/'},
                                                {'image': 'book-ego-is-the-enemy.jpg','title': 'Ego is the Enemy', 'url': 'https://www.amazon.com/Ego-Enemy-Master-Greatest-Opponent-ebook/dp/B01AWUTMB0/'},
                                        ] %}
                                        
                                                <li>
                                                <a href="{{ book.url }}">
                                                        <img src="/static/images/{{ book.image }}" alt="{{ book.title }}" class="book-image">
                                                </a>
                                                </li>
                                        {% endfor %}
                                        </ul>
                                </div>
                        </div>
                        <div class="shelf-shadows"></div>
                        <div class="shelf"></div>
                </article>
                <article>
                        <div class="bookshelf">
                                <div class="book-grid">
                                        <ul>
                                        {% for book in [
                                                {'image': 'book-fire-and-blood.jpg','title': 'Fire and Blood', 'url': 'https://www.amazon.com/Fire-Blood-Thrones-Targaryen-History-ebook/dp/B07C6TBTV3/'}
                                        ] %}
                                        
                                                <li>
                                                <a href="{{ book.url }}">
                                                        <img src="/static/images/{{ book.image }}" alt="{{ book.title }}" class="book-image">
                                                </a>
                                                </li>
                                        {% endfor %}
                                        </ul>
                                </div>
                        </div>
                        <div class="shelf-shadows"></div>
                        <div class="shelf"></div>
                </article>
        </div>
</section>
{% endblock %}
